# variables 

1. string

2. int

3. float

4. boolean

## string

A string is a series of character. A string can be a single letter or of multiple words.

In [1]:
name = "Arnold"

In [2]:
name

'Arnold'

To find out the type of the variable we can use type() function.

In [3]:
type(name)

str

### Using the print statement

In [4]:
print("name")

name

In [5]:
print(name)

Arnold

To print the value inside variable we don't need to use quotes.

In [6]:
print("Hello "+ name)

Hello Arnold

Here I have intentionally gave space after hello_ so that there will a space between the output characters.

## integer

In integer we can assign any value from -infinity to +infinity.

In [7]:
a = 25

In [8]:
a

25

In [9]:
a = a+1

In [10]:
a

26

In [11]:
a = 25

In [12]:
a+=1

In [13]:
a

26

#### using negative integer

In [14]:
a = -25

In [15]:
a

-25

In [16]:
a+=1

In [17]:
a

-24

In [18]:
a-=1

In [19]:
a

-25

### Using integer value in a print statement

In [20]:
type(a)

int

In [21]:
a = str(a)
type(a)

str

In [22]:
print("The integer value of a is "+str(a))

The integer value of a is -25

Here we are converting the type of value "a" to string so as to print the value.

## Float

float is a floating point number i.e., decimal number

In [23]:
b = 100.25

In [24]:
b

100.25

In [25]:
type(b)

float

In [26]:
b+=1

In [27]:
b

101.25

In [28]:
b-=1

In [29]:
b

100.25

### Using a float value inside a print statement

In [30]:
type(b)

float

In [31]:
b = str(b)

In [32]:
type(b)

str

Here we are converting the type of value "b" to string so as to print the value.

In [33]:
print("The value of b is: "+str(b))

The value of b is: 100.25

# Boolean

In [34]:
c = True

In [35]:
c

True

In [36]:
type(c)

bool

### using inside a print statement

In [37]:
c = str(c)

In [38]:
type(c)

str

Here we are converting the type of value "c" to string so as to print the value.

In [39]:
print("The value of a is -25 : "+str(c))

The value of a is -25 : True

#### Another important method in boolean is it can be converted into an integer or float.

In [40]:
c = False
d = True

In [41]:
c = int(c)
d = float(d)

In [42]:
type(c)

int

In [43]:
type(d)

float

In [44]:
c

0

In [45]:
d

1.0

The value for true is 1 and for false it's 0.