## 10 String functions

#### 1) len()

To find the no of letter inside a variable

In [2]:
a = 'Arnold'

In [3]:
len(a)

6

#### 2) Find()

To find the location of the 1st matching letter inside a string.

In [5]:
a.find('o')

3

Here the output is 3 not 4 because the counting starting from 0 not as 1.

#### 3) capitalize()

To make the 1st letter of a string to upper case

In [6]:
a = 'arnold'

In [7]:
a

'arnold'

In [8]:
a.capitalize()

'Arnold'

#### 4) upper()

To make every letter inside a variable to upper case

In [10]:
a = 'arnold'

In [11]:
a

'arnold'

In [12]:
a.upper()

'ARNOLD'

#### 5) lower()

To make every letter inside a variable to lower case

In [13]:
a = 'ARNOLD'

In [14]:
a

'ARNOLD'

In [15]:
a.lower()

'arnold'

#### 6) isdigit()

To check if all the values inside the variable contain numerical value ie., int or float.

In [16]:
a = '123'

In [17]:
a

'123'

In [18]:
a.isdigit()

True

In [19]:
b = 'Arnold'

In [20]:
b.isdigit()

False

In [21]:
c = "Arnold123"

In [22]:
c.isdigit()

False

#### 7) isalpha()

To check if all the values inside the variable contain alphabetic value ie., string.

In [23]:
a = 'Arnold'

In [24]:
a.isalpha()

True

In [25]:
b = '123'

In [26]:
b.isalpha()

False

#### 8) count()

To count the no of specific character inside the variable

In [31]:
a = 'arnold'

In [32]:
a.count("a")

1

In [33]:
a.count("z")

0

#### 9) replace()

To replace a specific character inside a variable.

In [34]:
a = 'arnold'

In [35]:
a.replace("a","z")

'zrnold'

#### s10) String multiplication

We can print a string multiple times using multiplication operator.

In [42]:
a = "Arnold "

In [44]:
a*5

'Arnold Arnold Arnold Arnold Arnold '