# 16-Set in python

collection which is unordered, unindexed

no duplicate values are allowed inside.

###### note : A set is faster than a list when we check that a value is present inside and they do not allow any duplicate values.

#### To print all the values inside a set using for loop

In [1]:
utensils = {"fork","spoon","knife"}
for x in utensils:
  print(x)

knife
fork
spoon

### Useful functions of set

#### Add

In [2]:
utensils = {"fork","spoon","knife"}
utensils.add("napkins")
print(utensils)

{'knife', 'fork', 'spoon', 'napkins'}

Since set is unordered the value can be added at any position.

In [3]:
utensils.add("napkins")
print(utensils)

{'knife', 'fork', 'spoon', 'napkins'}

Here if we try to add a same element inside a set it will not allow duplicate values.

#### Remove

To remove a value from a set

In [4]:
utensils = {"fork","spoon","knife"}
utensils.remove("fork")
print(utensils)

{'knife', 'spoon'}

#### Clear

To clear the values inside a set

In [5]:
utensils = {"fork","spoon","knife"}
utensils.clear()
print(utensils)

set()

Here it removed all the elements inside the set and printed an empty set.

#### Update

To add a value inside a set into an another set

In [6]:
utensils = {"fork","spoon","knife"}
dishes = {"bowl","plate","cup"}
utensils.update(dishes)
print(utensils)

{'fork', 'plate', 'bowl', 'knife', 'cup', 'spoon'}

Here we combined the values of 2 set into the 1st set

#### Union

To combine the values inside 2 sets using a third set.

In [7]:
utensils = {"fork","spoon","knife"}
dishes = {"bowl","plate","cup"}

dinner_table = utensils.union(dishes)
dinner_table

{'bowl', 'cup', 'fork', 'knife', 'plate', 'spoon'}

#### Difference

To get the values from 1st set that are not in set2.

In [8]:
utensils = {"fork","spoon","knife"}
dishes = {"bowl","plate","cup","knife"}
utensils.difference(dishes)

{'fork', 'spoon'}

In [9]:
dishes.difference(utensils)

{'bowl', 'cup', 'plate'}

Here knife is the common element for both set. So it removed knife from the output.

Here the output will subtract the values inside the variable that we entered inside paranthesis and will output the remaining values in the other variable.

#### Intersection

To get the common element out of 2 sets.

In [10]:
utensils = {"fork","spoon","knife"}
dishes = {"bowl","plate","cup","knife"}
utensils.intersection(dishes)

{'knife'}