# 26-Format method in python

str.format() - optional method that gives users more control when displaying output.

In [1]:
name = 'Arnold'
place = 'Austria'

print(name+" is from "+place)

Arnold is from Austria

In [2]:
name = 'Arnold'
place = 'Austria'

print("{} is from {}".format("arnold","austria"))

arnold is from austria

Here the print statement took the value from the .format function.

In [3]:
name = 'Arnold'
place = 'Austria'

print("{} is from {}".format(name,place))

Arnold is from Austria

#### Positional Arguments

In [4]:
name = 'Arnold'
place = 'Austria'

print("{0} is from {1}".format(name,place))
print("{1} is from {0}".format(place,name))

Arnold is from Austria
Arnold is from Austria

#### keyword arguments

In [5]:
name = 'Arnold'
place = 'Austria'

print("{name} is from {place}".format(name="Arnold",place="Austria"))

Arnold is from Austria

In [6]:
name = 'Arnold'
place = 'Austria'

text = "{} is from {}"
print(text.format(name,place))

Arnold is from Austria

In [7]:
name = "Arnold"
print("Hello my name is {}".format(name))

Hello my name is Arnold

#### Alignments

In [8]:
name = "Arnold"
print("Hello my name is {:10}.Nice to meet you".format(name))

Hello my name is Arnold    .Nice to meet you

#### Left Alignment

In [9]:
name = "Arnold"
print("Hello my name is {:<10}.Nice to meet you".format(name))

Hello my name is Arnold    .Nice to meet you

#### Right Alignment

In [10]:
name = "Arnold"
print("Hello my name is {:>10}.Nice to meet you".format(name))

Hello my name is     Arnold.Nice to meet you

#### Centre Alignment

In [11]:
name = "Arnold"
print("Hello my name is {:^10}.Nice to meet you".format(name))

Hello my name is   Arnold  .Nice to meet you

The keyword or the position argument will go before the colon

##### E.x: {0:^10}      ,         {name:^10}

## Numbers

#### 2 decimal places

In [12]:
number = 123.456789
print("The number is {:.2f}".format(number))

The number is 123.46

#### To add a comma at the thousands palce

In [13]:
number = 123456
print("The number is {:,}".format(number))

The number is 123,456

#### To display binary

In [14]:
number = 123456
print("The number is {:b}".format(number))

The number is 11110001001000000

#### To display octal number

In [15]:
number = 123456
print("The number is {:o}".format(number))

The number is 361100

#### To display the hexadecimal

In [16]:
number = 123456
print("The number is {:x}".format(number))

The number is 1e240

In [17]:
number = 123456
print("The number is {:X}".format(number))

The number is 1E240

#### To display scientific notation

In [18]:
number = 123456
print("The number is {:e}".format(number))

The number is 1.234560e+05

In [19]:
number = 123456
print("The number is {:E}".format(number))

The number is 1.234560E+05